<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatis_use.mapper.StudentMapper">
    <resultMap id="student_class_resultMap" type="student">
            <id column="s_id" property="sId"></id>
            <result column="s_class" property="sClass"></result>
            <result column="s_name" property="sName"></result>
            <result column="s_logo" property="logo"></result>
            <result column="s_Acj" property="Acj"></result>
            <result column="s_Bcj" property="Bcj"></result>
            <result column="s_Ccj" property="Ccj"></result>
            <result column="s_Zcj" property="Zcj"></result>
            <association property="grade" javaType="MyClass">
                <id column="c_id" property="cId"></id>
                <result column="c_name" property="cName"></result>
            </association>
    </resultMap>
    <select id="selectStudentsByAny" resultMap="student_class_resultMap" >
                    select s.s_id,s.s_class,s.s_name,s.s_logo,s.s_Acj,s.s_Bcj,s.s_Ccj,s.s_Zcj, c.c_id,c.c_name
                    from student s
                    left outer join class c
                    on s.c_id = c.c_id
                    <where>
                        <if test="sId != null and sId != ''">
                            s.s_id = ${sId}
                        </if>
                        <if test="sName != null and sName != ''">
                            and s.s_name like '%${sName}%'
                        </if>
                        <if test="grade.cName != null and grade.cName != ''">
                            and c.c_name like '%${grade.cName}%'
                        </if>
                    </where>
    </select>

</mapper>
